<div class="ant-list ant-list-split">
    <ul class="ant-list-items">
        <li class="ant-list-item">
            <div class="ant-list-item-meta">
                <div class="ant-list-item-meta-content">
                    <div>
                        <h4 class="ant-list-item-meta-title">Account Password</h4>
                    </div>
                    <div class="ant-list-item-meta-description">
                        Current password strength: : Strong
                    </div>
                </div>
            </div>
            <ul class="ant-list-item-action">
                <li class="ant-list-item-action-0">
                    <Button Type="ButtonType.Link">change</Button>
                </li>
            </ul>
        </li>
        <li class="ant-list-item">
            <div class="ant-list-item-meta">
                <div class="ant-list-item-meta-content">
                    <div>
                        <h4 class="ant-list-item-meta-title">Backup Email</h4>
                    </div>
                    <div class="ant-list-item-meta-description">
                        Bound Email: : ant***sign.com
                    </div>
                </div>
            </div>
            <ul class="ant-list-item-action">
                <li class="ant-list-item-action-0">
                    <Button Type="ButtonType.Link">change</Button>
                </li>
            </ul>
        </li>
    </ul>
</div>

@code {

    private static RenderFragment _modify = @<Button Type="ButtonType.Link">change</Button>;
     private readonly RenderFragment[] _actions = {_modify};
}