h2 {
  font-size: 16px;
}
.bs-tag {
  cursor: pointer;
  padding: 0 7px;
  border: 1px solid var(--bs-border-color);
  background: var(--bs-light);

  &.bs-tag-success {
    background: var(--bs-success-bg-subtle);
    border-color: var(--bs-success);
    color: var(--bs-success);
  }
  &.bs-tag-danger {
    background: var(--bs-danger-bg-subtle);
    border-color: var(--bs-danger);
    color: var(--bs-danger);
  }

  &.bs-tag-warning {
    background: var(--bs-warning-bg-subtle);
    border-color: var(--bs-warning);
    color: var(--bs-warning);
  }
}
