@if (form) {
<div class="modal-header">
    <div class="modal-title">
        @if (categoryId) {
        {{ 'Exam::EditAnnouncementCategory' | abpLocalization }}
        } @else {
        {{ 'Exam::NewAnnouncementCategory' | abpLocalization }}
        }
    </div>
</div>
<div class="modal-body">
    <form nz-form (ngSubmit)="save()" [formGroup]="form" nzLayout="vertical" [skipValidation]="true">
        <nz-form-item>
            <nz-form-label nzRequired>{{ 'Exam::Name' | abpLocalization }}</nz-form-label>
            <nz-form-control nzHasFeedback [nzValidatingTip]="'Exam::Validating' | abpLocalization"
                [nzErrorTip]="nameErrorTpl">
                <input formControlName="name" nz-input
                    [placeholder]="'Exam::Placeholder' | abpLocalization: ('Exam::Name' | abpLocalization)" />
                <ng-template #nameErrorTpl let-control>
                    @if (control.hasError('required')) {
                    {{ 'Exam::ThisFieldIsRequired.' | abpLocalization }}
                    }
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>{{ 'Exam::Remark' | abpLocalization }}</nz-form-label>
            <nz-form-control>
                <textarea rows="4" formControlName="remark" nz-input
                    [placeholder]="'Exam::Placeholder' | abpLocalization: ('Exam::Remark' | abpLocalization)"></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired>{{ 'Exam::Sort' | abpLocalization }}</nz-form-label>
            <nz-form-control nzHasFeedback [nzValidatingTip]="'Exam::Validating' | abpLocalization"
                [nzErrorTip]="sortErrorTpl">
                <nz-input-number formControlName="sort" [nzMin]="0"></nz-input-number>
                <ng-template #sortErrorTpl let-control>
                    @if (control.hasError('required')) {
                    {{ 'Exam::ThisFieldIsRequired.' | abpLocalization }}
                    }
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
<div class="modal-footer">
    <button nz-button (click)="close()">{{ 'Exam::Cancel' | abpLocalization }}</button>
    <button nz-button nzType="primary" [disabled]="!form.valid" [nzLoading]="isConfirmLoading" (click)="save()">
        {{ 'Exam::Submit' | abpLocalization }}
    </button>
</div>
} @else {
<nz-spin class="modal-spin"></nz-spin>
}