@if (form) {
  <div class="modal-header">
    <div class="modal-title">
      @if (knowledgePointId) {
        {{ 'Exam::Edit' | abpLocalization }}
      } @else {
        {{ 'Exam::NewKnowledgePoint' | abpLocalization }}
      }
    </div>
  </div>
  <div class="modal-body">
    <form nz-form (ngSubmit)="save()" [formGroup]="form" nzLayout="vertical" [skipValidation]="true">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'Exam::Name' | abpLocalization }}</nz-form-label>
        <nz-form-control nzHasFeedback [nzValidatingTip]="'Exam::Validating' | abpLocalization" [nzErrorTip]="nameErrorTpl">
          <input formControlName="name" nz-input [placeholder]="'Exam::Placeholder' | abpLocalization: ('Exam::Name' | abpLocalization)" />
          <ng-template #nameErrorTpl let-control>
            @if (control.hasError('required')) {
              {{ 'AbpValidation::ThisFieldIsRequired.' | abpLocalization }}
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div class="modal-footer">
    <button nz-button nzType="primary" [disabled]="!form.valid" [nzLoading]="isConfirmLoading" (click)="save()">
      {{ 'Exam::Submit' | abpLocalization }}
    </button>
  </div>
} @else {
  <nz-spin class="modal-spin"></nz-spin>
}
