@page "/repository/{id:guid}"
@using Microsoft.Extensions.Localization
@using SuperAbp.Exam.Blazor.Model
@using SuperAbp.Exam.Localization
@using SuperAbp.Exam.QuestionManagement.QuestionRepos
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@inject IStringLocalizer<ExamResource> L
@inject IQuestionRepoAppService QuestionRepoAppService
@inject NavigationManager Navigation
<style>
    .btn {
        margin-right: 8px;
      }
</style>

@if(QuestionRepository is not null)
{
    <Card>
        <CardHeader>
            <CardTitle Size="3">
                <span @onclick="GoDetail" style="cursor: pointer">
                    <Icon Name="IconName.ArrowLeft" />
                </span>
                @QuestionRepository.Title
            </CardTitle>
        </CardHeader>
        <CardBody>
            @if (!QuestionRepository.Remark.IsNullOrWhiteSpace())
            {
                <Heading Size="HeadingSize.Is4">简介：</Heading>
                <p>@QuestionRepository.Remark</p>
                <Divider />
            }

            <Heading Size="HeadingSize.Is4">自由练习</Heading>
            <Button Margin="Margin.Is3.FromEnd" Color="Color.Primary" Clicked="() => StartTraining((int)TrainingType.Order)">顺序练习</Button>
            <Button Color="Color.Primary" Clicked="() => StartTraining((int)TrainingType.Remember)">背题模式</Button>
            
        @if (_questionTypes.Count > 0)
        {
            <Divider Margin="Margin.Is3.OnY"/>
                <Heading Size="HeadingSize.Is4">题型练习</Heading>
            @foreach (var questionType in _questionTypes)
            {
                <Button Margin="Margin.Is3.FromEnd" Color="Color.Primary" Clicked="() => StartTraining(0, (int)questionType)">@L["QuestionType:" + questionType]</Button>
            }
        }
        </CardBody>
    </Card>
}