@page "/repository/{id:guid}"
@using SuperAbp.Exam.QuestionManagement.QuestionRepos

@if(_repository is not null)
{
<h2>@_repository.Title</h2>

    <span>简介：@_repository.Remark</span>

<Card Bordered="true">
    <Button OnClick="()=>StartTraining(0)">顺序练习</Button>
</Card>

<Card Bordered="true">
        <Button OnClick="()=>StartTraining(1)">背题模式</Button>
</Card>
}
@inject IQuestionRepoAppService QuestionRepoAppService
@inject NavigationManager Navigation
@code {
    [Parameter]
    public Guid Id { get; set; }

    QuestionRepoDetailDto _repository;

    protected override async Task OnInitializedAsync()
    {
        _repository = await QuestionRepoAppService.GetAsync(Id);
    }

    private void StartTraining(int trainType)
    {
        Navigation.NavigateTo(trainType > 0 ? $"/repository/{Id}/training/{trainType}" : $"/repository/{Id}/training");
    }

}
