@if (!ShowAnalysis || (ShowAnalysis && !AnswersNullOrWhiteSpace()))
{
    @for (int i = 0; i < Answers.Count; i++)
    {
        var tempIndex = i;
        <Input Placeholder="@L["Answer"]" @bind-Value="_answerItems[tempIndex]" Disabled="@ShowAnalysis" OnBlur="ChangeAsync"/>
        <br />
        <br />
    }
}
@if (OnSubmit.HasDelegate && !ShowAnalysis && ShowConfirm)
{
    <Button Type="@ButtonType.Primary" Size="@ButtonSize.Small" Loading="_validateLoading" OnClick="ValidateAsync" style="margin-bottom: 10px;">确认答案</Button>
}

@using Microsoft.Extensions.Localization
@using SuperAbp.Exam.Blazor.Model
@using SuperAbp.Exam.Blazor.Pages
@using SuperAbp.Exam.Localization
@using Volo.Abp.AspNetCore.Components.Notifications
@inject IStringLocalizer<ExamResource> L
@inject IUiNotificationService UiNotificationService
@code {
    [Parameter]
    public Guid QuestionId { get; set; }
    [Parameter]
    public IReadOnlyList<QuestionAnswerViewModel> Answers { get; set; }
    [Parameter]
    public bool ShowAnalysis { get; set; }
    [Parameter] public bool ShowConfirm { get; set; } = true;
    [Parameter] public string Answered { get; set; }
    [Parameter]
    public EventCallback<QuestionAnswerChangeEventArgs> OnChange{ get; set; }
    [Parameter]
    public EventCallback<QuestionAnswerItem> OnSubmit { get; set; }

    string[] _answerItems = [];
    bool _validateLoading = false;


    protected override void OnInitialized()
    {
        if (_answerItems.Length != Answers.Count)
        {
            _answerItems = new string[Answers.Count];
        }
        if (!Answered.IsNullOrWhiteSpace())
        {
            _answerItems = Answered.Split(ExamConsts.Splitter).ToArray();
        }
    }

    private bool AnswersNullOrWhiteSpace()
    {
        return _answerItems.All(a => a.IsNullOrWhiteSpace());
    }
    private async Task ValidateAsync()
    {
        if (AnswersNullOrWhiteSpace())
        {
            await UiNotificationService.Error("请先填写答案");
            return;
        }

        await SubmitAsync();
    }

    private async Task ChangeAsync()
    {
        if (AnswersNullOrWhiteSpace())
        {
            return;
        }
        if (OnChange.HasDelegate)
        {
            await OnChange.InvokeAsync(new QuestionAnswerChangeEventArgs()
            {
                QuestionId = QuestionId,
                Answer = String.Join(ExamConsts.Splitter, _answerItems),
            });
        }
    }
    private async Task SubmitAsync()
    {
        _validateLoading = true;
        var answerContents = Answers.Select(a => a.Content).ToArray();
        var right = _answerItems.Length == answerContents.Length && !_answerItems.Except(answerContents).Any();
        if (OnSubmit.HasDelegate)
        {
            await OnSubmit.InvokeAsync(new QuestionAnswerItem()
            {
                QuestionId = QuestionId,
                Answer = String.Join(ExamConsts.Splitter, _answerItems),
                Right = right
            });
        }

        _validateLoading = false;
    }

   
}