.multi-chooses .disabled {
  cursor: not-allowed;
}
.multi-chooses .choose-item {
  padding: 9px 20px 9px 5px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  margin-bottom: 10px;
}
.multi-chooses .choose-item .body {
  padding: 0 8px;
  display: flex;
  -o-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.multi-chooses .choose-item .content {
  color: #000;
  margin-left: 5px;
}
.multi-chooses .choose-item .result {
  display: none;
}
.multi-chooses .choose-item .result.show {
  display: block;
}
.multi-chooses .choose-item .result span {
  vert-align: middle;
  font-size: 1rem;
}
.multi-chooses .tag {
  width: 10px;
  font-weight: bold;
  color: #1890ff;
}
.multi-chooses .choose-item.primary {
  border-color: #1890ff;
}
