
<page-header *ngIf="questionId && form" [action]="phActionTpl" [title]="'Exam::Edit' | abpLocalization">
  <ng-template #phActionTpl>
    <button (click)="back($event)" nz-button nzType="primary">{{ 'Exam::Back' | abpLocalization }}</button>
  </ng-template>
</page-header>
<page-header *ngIf="!questionId" [title]="'Exam::NewQuestion' | abpLocalization"></page-header>
<ng-template #loaderRef>
  <nz-spin class="modal-spin"></nz-spin>
</ng-template>
<form *ngIf="form; else loaderRef" nz-form (ngSubmit)="save()" [formGroup]="form" nzLayout="vertical">
  <nz-card>
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'Exam::DisplayName:Name' | abpLocalization }}</nz-form-label>
        <nz-form-control
          nzHasFeedback
          [nzValidatingTip]="'Exam::Validating' | abpLocalization"
          [nzErrorTip]="nameErrorTpl"
        >
          <input formControlName="content" nz-input [placeholder]="'Exam::PlaceHolder' | abpLocalization: ('Exam::DisplayName:Name' | abpLocalization)"/>
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'Exam::ThisFieldIsRequired.' | abpLocalization }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
</nz-card>
</form>