<div class="card">
  <div class="card-header">
    <h5 class="mb-0">{{ '::Menu:QuestionBank' | abpLocalization }}</h5>
  </div>
  <div class="card-body">
    <ngx-datatable
      [rows]="questionBanks.items"
      [count]="questionBanks.totalCount"
      [list]="list"
      default
    >
      <ngx-datatable-column
        [name]="'Exam::Title' | abpLocalization"
        prop="title"
      ></ngx-datatable-column>
      <ngx-datatable-column
        [name]="'Exam::Actions' | abpLocalization"
        [width]="150"
        [canAutoResize]="false"
        [sortable]="false"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          <button type="button" class="btn btn-primary btn-sm" (click)="goDetail(row.id)">
            {{ 'Exam::Detail' | abpLocalization }}
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
