<button nz-button nzType="primary" (click)="modalIsShow = !modalIsShow">{{ 'Exam::NewQuestionBank' | abpLocalization }}</button>
@if (paperQuestionRuleTemps.length > 0) {
  <ng-container [formGroup]="paperForm">
    <nz-table
      #editRowTable
      nzBordered
      formArrayName="paperQuestionRules"
      [nzData]="paperQuestionRuleTemps"
      nzTableLayout="fixed"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>
            <label> {{ 'Exam::QuestionBank' | abpLocalization }} </label>
          </th>
          <th>
            <label> {{ 'Exam::QuestionType' | abpLocalization }} </label>
          </th>
          <th>
            <label> {{ 'Exam::Count' | abpLocalization }} </label>
          </th>
          <th>
            <label> {{ 'Exam::Score' | abpLocalization }} </label>
          </th>
          <th nzWidth="80px">
            <label> {{ 'Exam::Actions' | abpLocalization }} </label>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paperQuestionRuleTemps; let i = index" [formGroupName]="i">
          <td>{{ item.questionBank }}</td>
          <td>{{ item.questionType }}</td>
          <td>
            <nz-form-item>
              <nz-form-control>
                <nz-input-number
                  formControlName="count"
                  [nzMin]="0"
                  [nzMax]="item.count"
                  [nzStep]="1"
                  (ngModelChange)="changeScore($event)"
                ></nz-input-number>
                /{{ item.count }}
              </nz-form-control>
            </nz-form-item>
          </td>
          <td>
            <nz-form-item>
              <nz-form-control>
                <nz-input-number formControlName="score" [nzMin]="0" [nzStep]="1" (ngModelChange)="changeScore($event)"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </td>
          <td nzAlign="center">
            <a
              nz-popconfirm
              [nzPopconfirmTitle]="'Exam::AreYouSure' | abpLocalization"
              (nzOnConfirm)="delete(i, item)"
              nz-tooltip
              [nzTooltipTitle]="'Exam::Delete' | abpLocalization"
            >
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
}
<nz-modal
  [(nzVisible)]="modalIsShow"
  [nzTitle]="'Exam::NewQuestionBank' | abpLocalization"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="modalOkLoading"
>
  <ng-container *nzModalContent>
    <nz-select
      nzShowSearch
      nzAllowClear
      [(ngModel)]="currentQuestionRepositoryId"
      [nzPlaceHolder]="'Exam::ChoosePlaceholder' | abpLocalization: ('Exam::ExamRepository' | abpLocalization)"
    >
      @for (repository of repositoryItems; track $index) {
        <nz-option [nzValue]="repository.id" [nzLabel]="repository.title"></nz-option>
      }
    </nz-select>
  </ng-container>
</nz-modal>
