<div class="modal-header">
  <div class="modal-title">{{ 'Exam::Questions' | abpLocalization }}</div>
</div>
<div class="modal-body">
  <sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset()"></sf>
  <st
    #st
    [data]="questions"
    [columns]="columns"
    [loading]="loading"
    [page]="page"
    [total]="total"
    (change)="change($event)"
    [header]="'Exam::DataStart' | abpLocalization"
    [footer]="'Exam::DataEnd' | abpLocalization"
    responsiveHideHeaderFooter
  >
    <ng-template st-row="questionType" let-item>
      <span>{{ 'Exam::QuestionType:' + item.questionType | abpLocalization }}</span>
    </ng-template>
  </st>
</div>
<div class="modal-footer">
  <button nz-button nzType="primary" [nzLoading]="isConfirmLoading" (click)="save()">
    {{ 'Exam::Submit' | abpLocalization }}<span>已选({{ selectedQuestionIds.length }})题</span>
  </button>
</div>
