@page "/"
@using Volo.Abp.MultiTenancy
@inherits ExamComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]



<div class="page-content">
    <div style="text-align: center">

        <AntDesign.Alert Type="@AlertType.Success"
               Message="Success"
               Description=" Congratulations, BookStore is successfully runningsafasf!"
               ShowIcon="true" />
        <AntDesign.Divider />
    </div>
</div>
