<div class="modal-header">
  <div class="modal-title">{{ 'Exam::ExamRecord' | abpLocalization }}</div>
</div>
<div class="modal-body">
  <sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset()"></sf>
  <st
    #st
    [data]="userExams"
    [columns]="columns"
    [loading]="loading"
    [page]="page"
    [total]="total"
    (change)="change($event)"
    [header]="'Exam::DataStart' | abpLocalization"
    [footer]="'Exam::DataEnd' | abpLocalization"
    responsiveHideHeaderFooter
  >
    <ng-template st-row="examTime" let-item let-index="index">
      {{ item.creationTime }}
      @if (item.finishedTime) {
        <span> ~ {{ item.finishedTime }}</span>
      }
    </ng-template>
    <ng-template st-row="status" let-item let-index="index">
      {{ 'Exam::UserExamStatus:' + item.status | abpLocalization }}
    </ng-template>
    <ng-template st-row="passed" let-item let-index="index">
      @if (item.isPassed === null) {
        -
      } @else if (item.isPassed === true) {
        <span class="ng-star-inserted">
          <i class="yn__yes" [title]="'::Yes' | abpLazyLocalization">
            <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" aria-hidden="true">
              <path
                d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 0 0-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"
              ></path>
            </svg>
          </i>
        </span>
      } @else {
        <span class="ng-star-inserted">
          <i class="yn__no" [title]="'::No' | abpLazyLocalization">
            <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" aria-hidden="true">
              <path
                d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"
              ></path>
            </svg>
          </i>
        </span>
      }
    </ng-template>
  </st>
</div>
