<form nz-form [formGroup]="passwordForm" [nzLayout]="'vertical'" [skipValidation]="true">
  <nz-form-item>
    <nz-form-label nzRequired>{{ 'AbpAccount::DisplayName:CurrentPassword' | abpLocalization }}</nz-form-label>
    <nz-form-control [nzErrorTip]="'AbpValidation::ThisFieldIsRequired.' | abpLocalization">
      <input
        nz-input
        type="password"
        formControlName="currentPassword"
        [placeholder]="'::Placeholder' | abpLocalization: ('AbpAccount::DisplayName:CurrentPassword' | abpLocalization)"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>{{ 'AbpAccount::DisplayName:NewPassword' | abpLocalization }}</nz-form-label>
    <nz-form-control [nzErrorTip]="newPasswordErrorTpl">
      <input
        nz-input
        type="password"
        formControlName="newPassword"
        [placeholder]="'::Placeholder' | abpLocalization: ('AbpAccount::DisplayName:NewPassword' | abpLocalization)"
      />
      <ng-template #newPasswordErrorTpl let-control>
        @if (control.hasError('required')) {
          <span>{{ 'AbpValidation::ThisFieldIsRequired.' | abpLocalization }}</span>
        }
        @if (control.hasError('minlength')) {
          <span>{{ 'AbpIdentity::PasswordTooShort' | abpLocalization: '6' }}</span>
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>{{ 'AbpIdentity::DisplayName:NewPasswordConfirm' | abpLocalization }}</nz-form-label>
    <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
      <input
        nz-input
        type="password"
        formControlName="confirmPassword"
        [placeholder]="'::Placeholder' | abpLocalization: ('AbpIdentity::DisplayName:NewPasswordConfirm' | abpLocalization)"
      />
      <ng-template #confirmPasswordErrorTpl let-control>
        @if (control.hasError('required')) {
          <span>{{ 'AbpValidation::ThisFieldIsRequired.' | abpLocalization }}</span>
        }
        @if (passwordForm.hasError('passwordMismatch') && control.dirty) {
          <span>{{ 'AbpIdentity::PasswordConfirmationFailed' | abpLocalization }}</span>
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="passwordForm.invalid" (click)="save()">
        {{ 'AbpAccount::Save' | abpLocalization }}
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
