@if (questionBank) {
  <div class="card">
    <div class="card-header">
      <span style="cursor: pointer" (click)="goBack()">
        <i class="fa-solid fa-arrow-left"></i>
      </span>
      <h1>{{ questionBank.title }}</h1>
    </div>

    <div class="section">
      <h2>简介:</h2>
      <p>{{ questionBank.remark }}</p>
    </div>

    <div class="section">
      <h2>自由练习</h2>
      <button class="btn btn-primary" (click)="start(0)">顺序练习</button>
      <button class="btn btn-primary" (click)="start(1)">背题模式</button>
    </div>

    <div class="section">
      <h2>题型练习</h2>
      <div class="content">
        @for (type of questionTypes; track $index) {
          <button class="btn btn-primary" (click)="start(0, type)">
            {{ 'Exam::QuestionType:' + type | abpLocalization }}
          </button>
        }
      </div>
    </div>
  </div>
} @else {
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
