@page "/my/favorite/training"

@if (loading)
{
    <div style=" text-align: center;margin: 50px 0;">
        <Spin />
    </div>
}
else
{
    <SingleQuestion Title="我的收藏"
                    TrainType="TrainType"
                    BackUrl="/my/favorite"
                    Questions="_questions"></SingleQuestion>
}
@using SuperAbp.Exam.Blazor.Model
@using SuperAbp.Exam.QuestionManagement.Questions
@using Volo.Abp.Application.Dtos
@inject IQuestionAppService QuestionAppService
@code {
    [Parameter]
    public int? TrainType { get; set; }

    bool loading = true;
    List<QuestionNumberVo> _questions = [];

    protected override async Task OnInitializedAsync()
    {
        PagedResultDto<QuestionListDto> result = await QuestionAppService.GetListAsync(new GetQuestionsInput()
            {
                IsFavorite = true
            });
        foreach (QuestionType type in result.Items
                     .GroupBy(q => q.QuestionType).Select(q => q.Key).Distinct().OrderBy(q => q))
        {
            QuestionNumberVo vo = new QuestionNumberVo()
                {
                    QuestionType = type,
                    Questions = result.Items.Where(q => q.QuestionType == type)
                        .Select(q => new QuestionNumberVo.QuestionIndex()
                        {
                            QuestionId = q.Id
                        }).ToArray()
                };
            vo.TotalScore = vo.Questions.Sum(q => q.QuestionScore ?? 0);
            _questions.Add(vo);
        }
        loading = false;
    }
}
