<ng-container>
  <button (click)="add()" nz-button type="button" nzType="primary" *abpPermission="'Exam.QuestionAnswer.Create'">
    {{ 'Exam::NewQuestionAnswer' | abpLocalization }}
  </button>
</ng-container>
@if (options.length > 0) {
  <ng-container [formGroup]="questionForm">
    <nz-table
      #editRowTable
      nzBordered
      formArrayName="options"
      [nzData]="options.value"
      nzTableLayout="fixed"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>
            <label class="required"> {{ 'Exam::Content' | abpLocalization }} </label>
          </th>
          <th nzWidth="120px">
            <label class="required"> {{ 'Exam::Sort' | abpLocalization }} </label>
          </th>
          <th nzWidth="80px">
            <label> {{ 'Exam::Actions' | abpLocalization }} </label>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (option of options.controls; track i; let i = $index) {
          <tr [formGroupName]="i">
            <td>
              <nz-form-item nzRequired>
                <nz-form-control
                  nzHasFeedback
                  [nzValidatingTip]="'AbpValidation::Validating' | abpLocalization"
                  [nzErrorTip]="'AbpValidation::ThisFieldIsRequired.' | abpLocalization"
                >
                  <textarea
                    rows="2"
                    nz-input
                    formControlName="content"
                    [placeholder]="'Exam::Placeholder' | abpLocalization: ('Exam::Content' | abpLocalization)"
                  ></textarea>
                </nz-form-control>
              </nz-form-item>
            </td>
            <td>
              <nz-form-item>
                <nz-form-control>
                  <nz-input-number formControlName="sort" [nzMin]="0" [nzStep]="1"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </td>
            <td nzAlign="center">
              <a
                nz-popconfirm
                [nzPopconfirmTitle]="'Exam::AreYouSure' | abpLocalization"
                (nzOnConfirm)="delete(i, option)"
                nz-tooltip
                [nzTooltipTitle]="'Exam::Delete' | abpLocalization"
              >
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </ng-container>
}
